server {
    listen ${NGINX_PORT};

    location /static {
        alias /vol/static;
    }

    location / {
        uwsgi_pass ${APP_HOST}:${APP_PORT};
        include /etc/nginx/uwsgi_params;
    }

    location /nginx_status {
        stub_status;
    }
}
